<header class="masthead">
  <div class="masthead-title">
    <a href="{{ '/' | relative_url }}" title="Home">{{ site.title }}</a>
    <small class="tagline">{{ site.tagline }}</small>
  </div>

  {% if site.data.navigation %}
  <nav class="navbar-default navbar-fixed-top">
    <div id="navbar container">
      <ul class="nav-list nav navbar-right">
        {% for item in site.data.navigation %}
        <li class="nav-item">
          <a href="{{ item.url | relative_url }}" class="{% if page.url == item.url %}current{% endif %}">
            {{ item.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </nav>

</header>